<h1> Welcome to your Cart!</h1>
<%if cart == [] %>
  <%="Your cart is currently empty. Add some items to your cart!"%>
<%else%>
  <%="Here is your cart!" %>
<%end%>
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
  <input type=submit value='empty cart'>
<% end %>
